@import "./base.css";

body {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

body,
#app,
#app > div {
  background-color: #dbdbdb !important;
}

nav {
  background-color: #fff !important;
}

/* RARITY */
.rarity-common {
  background-color: #ffffff80 !important;
}

.rarity-uncommon {
  background-color: #55ff5580 !important;
}

.rarity-rare {
  background-color: #5555ff80 !important;
}

.rarity-epic {
  background-color: #aa00aa80 !important;
}

.rarity-legendary {
  background-color: #ffaa0080 !important;
}

.rarity-mythic {
  background-color: #ff55ff80 !important;
}

.rarity-divine {
  background-color: #55ffff80 !important;
}

.rarity-special {
  background-color: #ff555580 !important;
}

.rarity-very-special {
  background-color: #ff555580 !important;
}

.rarity-ultimate {
  background-color: #aa000080 !important;
}

.decoration-rarity-common {
  text-decoration-color: #ffffff80 !important;
}
.decoration-rarity-uncommon {
  text-decoration-color: #55ff5580 !important;
}
.decoration-rarity-rare {
  text-decoration-color: #5555ff80 !important;
}
.decoration-rarity-epic {
  text-decoration-color: #aa00aa80 !important;
}
.decoration-rarity-legendary {
  text-decoration-color: #ffaa0080 !important;
}
.decoration-rarity-mythic {
  text-decoration-color: #ff55ff80 !important;
}
.decoration-rarity-divine {
  text-decoration-color: #55ffff80 !important;
}
.decoration-rarity-special {
  text-decoration-color: #ff555580 !important;
}
.decoration-rarity-very-special {
  text-decoration-color: #ff555580 !important;
}
.decoration-rarity-ultimate {
  text-decoration-color: #aa000080 !important;
}
